@import "../node_modules/bootstrap/scss/bootstrap";


.App {
  text-align: center;
}

.list-unstyled {
  text-align: center;
}

.match-div {
  display: inline-block;
  width: 145px;
  text-align: center;
  margin: 20px 25px;
}

.media {
  // display: block;
  margin: 10px;
  // height: 110px;
  // width: 400px;
  border: solid thin;
  border-color: black;
  border-radius: 2%;
}

.centered {
  text-align: center;
}

.team-img {
  width: 80px;
  height: 80px;
}

.badge-vs {
  padding: 20px;
  width: 50px;
}